@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif !important;
}
/*header*/
.bg-color{
    background-color: hsl(358.71deg 78.81% 46.27%) !important;
}
.hero-name {
    font-weight: bolder;
    color: #fff !important;
    margin-left: 35px;
}
/* footer */
.footer-bg{
    background-color: #000;
    height: 300px !important;
}
.footer-demo{
    color: #fff;
    font-weight: 500;
  padding-top: 30px;
  height: 70px;
}
.copy-footer{
    color: #fff;
    font-size: 15px;
    line-height: 27px;

}
.footer-privacy{
    color: red !important;
    font-size: 12px;
}
.anger-footer{
    color: red !important;
}
/* index */
.index-bg{
    background-color: hsl(358.71deg 78.81% 46.27%) !important;
    height: 400px;
}
.index-trade{
 padding-top: 30px;
 color: hsl(39.6deg 100% 80.39%);
 height: 60px;
}
.global-chat
{
    color: #fff;
}
.top-trade{
    color: hsl(39.6deg 100% 80.39%);
    height: 30px;
}
.btn-1 {
    background-color: hsl(39.6deg 100% 80.39%) !important;
    font-weight: 600 !important;
    color: #000 !important;
    font-size: 12px !important;
    padding: 12px 30px 12px 30px !important;
}
.start-trade{
    font-size: 12px;
    color: #fff;
    margin-top: 10px;
}
.reward{
    height: 400px;
}
.line-index{
    color: red;
}
.line-1{
    margin-top: 70px !important;
    margin-bottom: 30px;
}
.black-box{
    background-color: #000;
    height: 600px;
}
.winner-award{
    color: hsl(358.71deg 78.81% 46.27%) ;
    padding-top: 40px;
    padding-bottom: 15px;
}
.per-around{
    color: hsl(39.81deg 44.07% 53.73%);
    height: 40px;
}
.index-winner-top{
    color: #fff;
}
.btn-2 {
    background-color: hsl(39.6deg 100% 80.39%) !important;
    font-weight: 600 !important;
    color: #000 !important;
    font-size: 12px !important;
    padding: 12px 50px 12px 50px !important;
}
.box-card {
    width: 9rem;
    height: 10rem !important;
    background-color: hsl(358.71deg 78.81% 46.27%) !important;
}
.card-title-1{
    display: flex;
    justify-content: center;
    text-align: center;
  margin-top: -60px;
    padding-bottom: 15px;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    line-height: 25px;
}
.card-title-s{
    display: flex;
    justify-content: center;
    text-align: center;
  margin-top: -60px;
    padding-bottom: 15px;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    line-height: 25px;
    height: 90px;
}
.rupess{
    color: hsl(39.81deg 44.07% 53.73%) !important;
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: 600;
}
.first {
    height: 100px;
    margin-top: -35px;
    margin-left: -37px;
}.move{
    margin-left: 30px !important;
}
.move-card{
margin-top: 75px;
}
.mobile-tab{
    height: 400px;
    margin-top: 50px;
}
.one {
    border: 1px solid hsl(358.71deg 78.81% 46.27%);
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50%;
    align-items: center;
    display: grid;
    color: hsl(358.71deg 78.81% 46.27%);
}
.reg{
    color: hsl(358.71deg 78.81% 46.27%);
    height: 30px;
}
.are-ok-trade{
    height: 30px;
}
.join{
    color: hsl(39.81deg 44.07% 53.73%) !important;
}
.co-move{
    margin-top: 10px !important;
    margin-left: -50px !important;
}.mos{
    margin-top: 30px !important;
}
.linesa {
    background-color: red;
    height: 2px;
    width: 92px;
    rotate: 90deg;
    margin-top: 45px;
    margin-left: -21px;
}
.linesas {
    background-color: red;
    height: 2px;
    width: 77px;
    rotate: 90deg;
    margin-top: 37px;
    margin-left: -14px;
}
.reg-pages{
    color: #000;
}
.card-titles-2{
    background-color:hsl(359.36deg 80.34% 54.12%) !important ;
    height: 60px;
    text-align: center;
    display: grid;
    align-items: center;
    color: #fff;
}
.red-card-pages{
    width: 20rem;
    height: 22rem !important;
    background-color: hsl(358.95deg 68.25% 49.41%) !important;
    display: flex;
    justify-content: center !important;
}
.roun-page{
    text-align: center;
    display: grid;
    align-items: center;
    color: #fff;
    height: 40px;

}
.com{
    text-align: center;
    display: grid;
    align-items: center;
    color: #fff;
    font-size: 10px;
}.mar{
    text-align: center;
    display: grid;
    align-items: center !important;
    color: #fff;
    background-color:hsl(359.36deg 80.34% 54.12%) !important ;
    padding: 15px 0px 15px 0px !important;
    margin-top: -30px;
    line-height: 30px;
}.csc{
    flex: 0 !important;
}
.mars{
    text-align: center;
    display: grid;
    align-items: center !important;
    color: #fff;
}
.change{
    display: flex;
    justify-content: center;
}
.line-2{
    margin-top: 70px !important;
    margin-bottom: 30px;
    margin-left: 55px;
}
.rot{
    height: 5px;
    width: 20px;
    background-color: red;
    rotate: 90deg;
    margin-top: -14px;
}
.rots{
    height: 5px;
    width: 20px;
    background-color: red;
    rotate: 90deg;
    margin-top: -14px;
}
.sear{
    margin-top: 65px !important;
}

.search-btn-img {
    height: 20px !important;
}
.btn-search{
    background-color:hsl(359.36deg 80.34% 54.12%) !important ;
}
.input-design{
  background-color: hsl(0deg 100% 92.75%) !important;
}
::placeholder{
    color: red !important;
}
.table thead tr th{
    background-color: hsl(359.36deg 80.34% 54.12%) !important;
    color: #fff;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}
.table tbody tr td{
    text-align: center;
}
.table tbody .lite-pnk td{
    background-color: hsl(0deg 100% 88.04%) !important;
    padding-top: 15px;
    padding-bottom: 15px;
}
.table tbody .lite-1 td{
    background-color: hsl(0deg 100% 92.75%) !important;
    padding-top: 15px;
    padding-bottom: 15px;
}
.table tbody .chnage-red td{
    color: hsl(359.36deg 80.34% 54.12%) !important;
}
.table tbody tr td{
    font-weight: 600;
}
.below-index{
    margin-left: 25px !important;
}
.trade-laptop{
    height: 370px;
}
.mo-down{
    margin-top: 60px !important;
}
.ul .li{
    height: 48px;
}
.ul .lis {
    height: 160px;
}
li::marker {
    color: gray;
    font-size: 12px;
}
.line-3{
   
        margin-top: 70px !important;
        margin-bottom: 30px;
   font-weight: bold;
}
.con-bg{
    background-color: hsl(358.96deg 68.38% 49.61%) !important;
}
.index-last{
    padding-top: 70px;
    padding-bottom: 70px;
}
.colos{
    font-weight: 600;
}
.dsd{
    margin-bottom: 100px !important;
}