@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif !important;
}
/*header*/
.bg-color{
    background-color: hsl(358.71deg 78.81% 46.27%) !important;
}
.hero-name {
    font-weight: bolder;
    color: #fff !important;
    margin-left: 35px;
}
/* footer */
.footer-bg{
    background-color: #000;
    height: 300px !important;
}
.footer-demo{
    color: #fff;
    font-weight: 500;
  padding-top: 30px;
  height: 70px;
}
.copy-footer{
    color: #fff;
    font-size: 15px;
    line-height: 27px;

}
.footer-privacy{
    color: red !important;
    font-size: 12px;
}
.anger-footer{
    color: red !important;
}
/* index */
.index-bg{
    background-color: hsl(358.71deg 78.81% 46.27%) !important;
    height: 400px;
}
.index-trade{
 padding-top: 30px;
 color: hsl(39.6deg 100% 80.39%);
 height: 60px;
}
.global-chat
{
    color: #fff;
}
.top-trade{
    color: hsl(39.6deg 100% 80.39%);
    height: 30px;
}
.btn-1 {
    background-color: hsl(39.6deg 100% 80.39%) !important;
    font-weight: 600 !important;
    color: #000 !important;
    font-size: 12px !important;
    padding: 12px 30px 12px 30px !important;
}
.start-trade{
    font-size: 12px;
    color: #fff;
    margin-top: 10px;
}
.reward{
    height: 400px;
}
.line-index{
    color: red;
}
.line-1{
    margin-top: 70px !important;
    margin-bottom: 30px;
}
.black-box{
    background-color: #000;
    height: 600px;
}
.winner-award{
    color: hsl(358.71deg 78.81% 46.27%) ;
    padding-top: 40px;
    padding-bottom: 15px;
}
.per-around{
    color: hsl(39.81deg 44.07% 53.73%);
    height: 40px;
}
.index-winner-top{
    color: #fff;
}
.btn-2 {
    background-color: hsl(39.6deg 100% 80.39%) !important;
    font-weight: 600 !important;
    color: #000 !important;
    font-size: 12px !important;
    padding: 12px 50px 12px 50px !important;
}
.box-card {
    width: 9rem;
    height: 10rem !important;
    background-color: hsl(358.71deg 78.81% 46.27%) !important;
}
.card-title-1{
    display: flex;
    justify-content: center;
    text-align: center;
  margin-top: -60px;
    padding-bottom: 15px;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    line-height: 25px;
}
.card-title-s{
    display: flex;
    justify-content: center;
    text-align: center;
  margin-top: -60px;
    padding-bottom: 15px;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    line-height: 25px;
    height: 90px;
}
.rupess{
    color: hsl(39.81deg 44.07% 53.73%) !important;
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: 600;
}
.first {
    height: 100px;
    margin-top: -35px;
    margin-left: -37px;
}.move{
    margin-left: 30px !important;
}
.move-card{
margin-top: 75px;
}
.mobile-tab{
    height: 400px;
    margin-top: 50px;
}
.one {
    border: 1px solid hsl(358.71deg 78.81% 46.27%);
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50%;
    align-items: center;
    display: grid;
    color: hsl(358.71deg 78.81% 46.27%);
}
.reg{
    color: hsl(358.71deg 78.81% 46.27%);
    height: 30px;
}
.are-ok-trade{
    height: 30px;
}
.join{
    color: hsl(39.81deg 44.07% 53.73%) !important;
}
.co-move{
    margin-top: 10px !important;
    margin-left: -50px !important;
}.mos{
    margin-top: 30px !important;
}
.linesa {
    background-color: red;
    height: 2px;
    width: 92px;
    rotate: 90deg;
    margin-top: 45px;
    margin-left: -21px;
}
.linesas {
    background-color: red;
    height: 2px;
    width: 77px;
    rotate: 90deg;
    margin-top: 37px;
    margin-left: -14px;
}